<?xml version="1.0"?>
<launch>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_base_footprint" args="0 0 -0.035 0 0 0 /base_link /base_footprint 40" />
  <!--<node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0.150327 0 0.0932 -1.5708 0 0 /base_footprint /laser 40" />--><!--rplildar setting-->
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0.105 0 0.145 0 0 0 /base_footprint /laser 40" /><!--ydlidar setting-->
  <node pkg="tf" type="static_transform_publisher" name="base_to_imu_broadcaster" args="0.13 0.0 0.075 0 0 0 /base_footprint /imu_link 40" />
</launch>
